:root {
    --dark-green: #385742;
    --light-green: #A1B582;
    --grey: #949494; 
}

body {
    font-family: 'Lexend', sans-serif;
    margin:0;
    padding: 0;
    background: var(--light-green);
    color: #000
}

nav {
    background-color: var(--dark-green);
    padding: 16px;
}

nav ul{
    display:flex;
    list-style:none;
    gap:16px;
    justify-content:center;
    margin:0;
    padding:0;
}

nav ul li a 
{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main{
    width: 100%;
    margin: 0 auto ;
    padding: 0;
}

h1, h2, h3 {
    color: var(--grey);
} 

.book-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}

.book:hover {
    transform: translateY(-4px);
}

.book img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 12px;
    display: block;
    object-fit: contain;
}

.book button {
    background-color: var(--dark-green);
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.2s ease;
}

.book button:hover {
    background-color: #2d4735;
}

.book-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;  
}

#book-text {
    background: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rbga(0,0,0,0.1);
    line-height: 1.8;

    width: 90%;
    max-width: 1000px;
    min-height: 600px;
    margin: 40px auto;
    font-size: 18px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    #book-text {
      padding: 20px;
      font-size: 16px;
    }
  }
  

#cast-btn {
    background-color: #385742;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
  }

.popup {
    background: white;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    max-width: 300px;
    margin: 0 auto;
}

.hidden {
    display: none;
}

.tab-section {
    max-width: 600px;
    margin: 0 auto;
}

.tab {
    background-color: #A1B582;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.2s ease;
}


.tab-content {
    background: white;
    padding: 16px;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.book-scroll {
    display:flex;
    overflow-x:auto;
    gap:24px;
    padding:20px;
    scroll-snap-type: x mandatory;
}

.book-scroll::-webkit-scrollbar-thumb {
    background: #949494;
    border-radius: 4px;
  }

.book {
    display:flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;

    flex: 0 0 auto;
    width:200px;
    height: 380px;

    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba (0,0,0,0.1);
    padding: 16px;
    text-align:center;
    transition: transform 0.2s ease;
    position: relative;
    overflow: hidden;
}

.toast-message {
    position: fixed;
    bottom: 20px;
    right:20px;
    background-color: #385742;
    color:white;
    padding: 12px 16px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    opacity: 0;
    transition: opacity 0.4s ease;
    z-index:1000;
}

.toast-message.show {
    opacity: 1;
}

.hidden {
    display: none;
}

.highlighted {
    background-color: yellow;
    border-radius: 4px;
}

#dictionary-popup {
    position: fixed;
    top:100px;
    right:30px;
    background: white;
    padding:16px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    max-width: 250px;
    z-index:1000;
}

button {
    background-color: #A1B582;
    border:none;
    padding: 10px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 16px;
}

button:hover{
    background-color: #94a76c;
}

.highlighted {
    background-color: yellow;
    border-radius: 4px;
  }
  